<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p>プロフィール画像: <%= image_tag @user.image.url %></p>


<% if @user.id == current_user.id %>
  <%= link_to 'Edit', edit_user_path(@user), data: { confirm: '本当に編集していいですか？' } %>
<% end %>
