/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 * {
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
          -o-box-sizing: border-box;
         -ms-box-sizing: border-box;
             box-sizing: border-box;
 }
body {
  background: #FAFAFA;
	font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" ,  "メイリオ" , Meiryo , "Meiryo UI" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  padding-bottom: 30px;
}
.insta_f1 {
  font-family: 'Pacifico', cursive;
}
.insta_f2 {
  font-family: 'Pacifico', cursive;
}
/* Material icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  /* WebKit */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safari */
  text-rendering: optimizeLegibility;
  /* Firefox */
  -moz-osx-font-smoothing: grayscale;
  /* IE*/
  font-feature-settings: 'liga';
}
/* Material icons size */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Material icons dark color */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Material icons light color */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

img {
  width: 100%;
  max-width: 1000px;
  height: auto;
}
ol,
ul {
	list-style-position: inside;
  list-style-type: none;
  padding: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.flash_message {
  margin: 10px 0;
}
header {
  padding: 10px 0;
}
.navbar-default {
  background-color: #fff;
  padding: 10px 0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  height: auto;
  color: #222;
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(45deg,#fda948 13%,#f66748 21%,#ec3653 64%,#c13a9c 84%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 28px;
}
.navbar-default .navbar-nav>li>a {
  font-size: 14px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #1877f2;
  text-decoration: underline;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border-radius: 6px;
  font-size: 17px;
  padding: 10px;
  border: 1px solid #dddfe2;
  outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #1877f2;
}
.btn-primary {
  color: #fff;
  background-color: #1877f2;
  border-color: #1877f2;
}
.btn-primary:visited,
.btn-success:visited {
  color: #fff;
}
#error_explanation {
  margin: 30px auto;
}
#error_explanation .fw_b {
  font-weight: bold;
  font-size: 18px;
}
#error_explanation ul li {
  list-style: none;
}
.field_with_errors {
  width: 100%;
}
@media only screen and (max-width: 767px){
  .flex {
    flex-wrap: wrap;
  }
  .navbar-default .navbar-brand,
  .navbar-default .navbar-brand:hover {
    font-size: 6vw;
  }
  .navbar-default .navbar-nav>li {
    border-bottom: 1px solid #e7e7e7;
  }
  .navbar-default .navbar-nav>li:last-child {
    border-bottom: none;
  }
}
